

.container2{
    display: flex;
    justify-content: center;
}

.card{
    background:chocolate;
    width: 230px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    background-color: cornsilk;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Coffea_arabica_005.JPG);
}

.car-2{
    background-image: url(http://cdn.shopify.com/s/files/1/0590/4531/4737/articles/cafe-arabica-robusta.jpg?v=1629811921);
}

.car-3{
    background-image: url(https://www.tounsia.net/media/cache/singlepost/uploads/caféarabica.jpg);
}

.p{
    text-align: center;
    text-decoration: none;
    color: chocolate;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 30px;
    font-size: 40px;
}

h2{
    text-align: center;
}