.container{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}


.title{

    color: rgb(252, 188, 13);
    font-size: 40px;

}

.cafe{
    cursor: pointer;
    color: rgb(243, 107, 10);
    font-size: 30px;
    
}

.btn{
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: chocolate;

}

p{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}