.container{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}


.title{

    color: rgb(177, 86, 21);

}

.cafe{
    cursor: pointer;
    color: chocolate;
    font-size: 30px;
    
}

.btn{
    text-decoration: none;
    border-radius: 10px;
    border: none;
    color: chocolate;

}