.prod{
    color: chocolate;
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cof{
font-size: 60px;
}

